/* CSS files add styling rules to your content */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap');

body {
  font-family: 'Work Sans', sans-serif;
  margin: 2em;
}

h3 {
  font-size: 2em;
  color: #373fff;
}

.italic{
	font-style: italic;
}

h5{
	font-size: 1.5em; 
	color: white;
	max-width: 75%;
	font-weight: 400;
}

h1{
	font-size: 4em;
	color: white;
}
a{
	text-decoration: none; 
	 color: #373fff;
}
a:hover{
	color: rgb(72, 173, 241);
}
.nav {
	display: flex;
	position: relative;
}
.mLeft{
	margin-left: 130px;
}
.mLeft_small{
	margin-left: 50px;
}
.menu{
    left: 300px;
    position: absolute;
    top: 30px;
}	

ul{
	text-decoration: none;
    list-style-type: none;
}

li {
  float: left;
  padding-right: 1.5em;
}
li a {
	display: block;
}

.blue{
	color: #373fff;
}
.green{
	color: rgb(138, 247, 228);
}